/* Override default styles */
.rdrCalendarWrapper {
	color: var(--foreground);
	background: var(--card);
}

.rdrDateDisplayWrapper {
	background-color: var(--card);
}

.rdrDateDisplay {
	margin: 0.5em;
}

.rdrDateDisplayItem {
	background-color: var(--input);
	border: 1px solid var(--border);
}

.rdrDateDisplayItem input {
	color: var(--foreground);
}

.rdrMonthAndYearWrapper {
	padding-top: 0;
	background-color: var(--card);
}

.rdrMonthAndYearPickers select {
	color: var(--foreground);
	background-color: var(--input);
}

.rdrMonthAndYearPickers select:hover {
	background-color: var(--accent);
}

.rdrMonthName {
	color: var(--foreground);
	font-weight: 600;
	padding: 0.5rem;
	text-align: center;
}

.rdrMonth {
	background-color: var(--card);
}

.rdrWeekDay {
	color: var(--muted-foreground);
	font-weight: 500;
}

.rdrDay {
	color: var(--foreground);
	background: none;
	height: 65px;
}

.rdrDayNumber span {
	color: var(--foreground);
}

.rdrDayDisabled {
	background-color: var(--disabled);
}

.rdrDayDisabled span {
	color: var(--muted-foreground);
}

.rdrDayToday:not(.rdrDayDisabled) .rdrDayNumber span:after {
	background: none;
	display: none;
}

.rdrDayToday .rdrDayNumber span:after {
	background: var(--primary);
}

.rdrDayPassive .rdrDayNumber span {
	color: var(--muted-foreground);
}

.rdrSelected,
.rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
	background: var(--selected-date);
	color: var(--accent-foreground);
}

.rdrStartEdge,
.rdrEndEdge {
	background: var(--primary) !important;
	color: var(--primary-foreground) !important;
}

.rdrInRange {
	background: var(--accent) !important;
}

.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview {
	border: 1px solid var(--primary);
	color: var(--foreground);
}

.rdrDayStartOfMonth .rdrInRange,
.rdrDayStartOfMonth .rdrEndEdge,
.rdrDayStartOfWeek .rdrInRange,
.rdrDayStartOfWeek .rdrEndEdge {
	border-top-left-radius: 1.042em;
	border-bottom-left-radius: 1.042em;
}

.rdrDayEndOfMonth .rdrInRange,
.rdrDayEndOfMonth .rdrStartEdge,
.rdrDayEndOfWeek .rdrInRange,
.rdrDayEndOfWeek .rdrStartEdge {
	border-top-right-radius: 1.042em;
	border-bottom-right-radius: 1.042em;
}

.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
	color: var(--accent-foreground);
}

.rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span {
	color: var(--primary-foreground);
}

/* Responsive styles */
@media (max-width: 768px) {
	.rdrCalendarWrapper {
		font-size: 14px;
	}

	.rdrMonth {
		padding: 0;
	}

	.rdrMonthAndYearWrapper {
		height: 40px;
		padding-top: 0;
	}
}

@media (max-width: 640px) {
	.rdrCalendarWrapper {
		font-size: 12px;
	}

	.rdrDateDisplay {
		margin: 0.25em;
	}

	.rdrMonthAndYearWrapper {
		height: 36px;
	}

	/* Switch to single month view on mobile */
	.rdrMonths.rdrMonthsHorizontal {
		flex-direction: column;
	}
}
